/*
    SLAPP
    =====    
    A software for Poetry Slams
    
    Version 1
    
    by Markus Freise

	This Source Code Form is subject to the terms 
	of the Mozilla Public License, v. 2.0. If a copy 
	of the MPL was not distributed with this file, 
	You can obtain one at http://mozilla.org/MPL/2.0/.
    
    E-Mail: markus@freise.de

*/


/************************************************************************************************/
/*
/*  Buttons
*/

._mf_button {
	display: inline-block;
	border-radius: 6px;
	padding: 5px 12px;
	text-decoration: none;
	border: solid 1px #fff;
	font-size: 16px;
	text-align: center;
	
}

._mf_button:hover {
	background-color: #444;
}

._mf_button:hover:active {
	background-color: #fff;
	color: #000;
}

._mf_button.small {
	border-radius: 3px;
	padding: 6px;
	font-size: 12px;
}


/************************************************************************************************/
/*
/*  Inputs
*/

._mf_input {
	display: inline-block;
	border-radius: 3px;
	padding: 5px 12px;
	text-decoration: none;
	background: black;
	color: white;
	border: solid 1px #fff;
	font-size: 16px;
}



