/*
    SLAPP
    =====    
    A software for Poetry Slams
    
    Version 1
    
    by Markus Freise

	This Source Code Form is subject to the terms 
	of the Mozilla Public License, v. 2.0. If a copy 
	of the MPL was not distributed with this file, 
	You can obtain one at http://mozilla.org/MPL/2.0/.
    
    E-Mail: markus@freise.de

*/

/* Schwarz */ 

section#addpoet {
	background: black;
}

/* Weiß */

div#ranking li.finalist,
div#credits h1,
div#help span,
div#help h2,
a, 
a:active:hover {
	color: #fff;
}

_ul#rooster li span.vote {
	background: white;
}

/* 50% */

a:hover,
body {
	color: #f2f2f2;
}

/* 20% */

ul#rooster li span.vote,
ul.rooster li span.strike {
	color: #444444;
}

.active {
	background: #333333;
}

/* 10% */

ul#bout li.poet:hover {
	background: #1a1a1a;
}

/* Rot */

body.edit ul#rooster li span.vote.active {
	color: #e30613;
}

div#ranking li.finalist {
	background-color: #e30613;
}
