/*
    SLAPP
    =====    
    A software for Poetry Slams
    
    Version 1
    
    by Markus Freise

	This Source Code Form is subject to the terms 
	of the Mozilla Public License, v. 2.0. If a copy 
	of the MPL was not distributed with this file, 
	You can obtain one at http://mozilla.org/MPL/2.0/.
    
    E-Mail: markus@freise.de

*/

@font-face {
	font-family: 'slam';
	src:url('fonts/slam.eot');
	src:url('fonts/slam.eot?#iefix') format('embedded-opentype'),
		url('fonts/slam.ttf') format('truetype'),
		url('fonts/slam.woff') format('woff'),
		url('fonts/slam.svg#slam') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'BebasRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {font-family: 'PT Sans'; 
	src: url('fonts/PTSansWeb/pts55f_w.eot'); 
	src: local('PT Sans'), url('fonts/PTSansWeb/PTS55F_W.woff') format('woff'),url('fonts/PTSansWeb/PTS55F_W.ttf') format('truetype'), url('fonts/PTSansWeb/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans';
	src: url('pts75f_w.eot');
	font-style: normal;
	font-weight: bold; 
	src: local('PT Sans Bold'), url('fonts/PTSansWeb/PTS75F_W.woff') format('woff'),url('fonts/PTSansWeb/PTS75F_W.ttf') format('truetype'), url('fonts/PTSansWeb/PTS75F_W.svg#PTSans-Bold') format('svg');}

div#help h2,
body {
	font-family: "PT Sans",Arial,sans-serif;
	font-size: 15px;
}

.i {
	font-family: "slam";
}

div#logo h1,
ul#rooster_score div.score,
ul#rooster_score h1,
ul#rooster h1,
ul#rooster_winner h1,
ul#rooster_name h1 {
	font-family: "BebasRegular";
}

ul#rooster li span.vote {
	font-family: "BebasRegular";
}

label span {
	font-size: 10px;
}

li.poet {
	font-size: 22px;
}

div#logo h2,
ul#rooster_score h1,
ul#rooster_winner h1,
ul#rooster_name h1,
ul#rooster h1,
div#credits h1,
ul#rooster div.votes {
	font-size: 64px;
}

ul#rooster_score div.score,
ul#rooster div.score {
	font-size: 300px;
}

div#logo h1,
ul#rooster li span.vote {
	font-size: 86px;
}

p {
	line-height: 1.4;
}

ul#rooster_score h1,
ul#rooster h1,
ul#rooster_winner h1,
ul#rooster_name h1 {
	text-transform: uppercase;
}

.i,
a.i,
div#rundenplan a {
	text-decoration: none;
}