/*
    SLAPP
    =====    
    A software for Poetry Slams
    
    Version 1
    
    by Markus Freise

	This Source Code Form is subject to the terms 
	of the Mozilla Public License, v. 2.0. If a copy 
	of the MPL was not distributed with this file, 
	You can obtain one at http://mozilla.org/MPL/2.0/.
    
    E-Mail: markus@freise.de

*/

/************************************************************************************************/
/*
/* Black
*/

div#logo.screen {
	background: url("../images/background.jpg") no-repeat;
	text-align: center;
}


/* Einzelner Rooster */ 


ul#rooster li.poet span.vote {
	position: absolute;
	left: 0;
	bottom: -80px;
	width: 130px;
	height: 180px;
	display: block;
	padding: 48px 26px 315px 21px;
	text-align: center;
	background: url("../images/jury.png") no-repeat;
	box-shadow: none;
}

body.edit ul#rooster li.poet span.vote.active {
	bottom: -40px !important;
	z-index: 1905;
}

ul#rooster li.poet span.vote.strike {
	bottom: -240px;
}

ul#rooster li.poet.incomplete span.vote.strike {
	bottom: -80px;
}

ul#rooster li.poet span.vote.empty {
	bottom: -520px;
}

/* Rooster */

ul#rooster div.score,
ul#rooster_score div.score,
ul#rooster h1,
ul#rooster_winner h1,
ul#rooster_name h1,
ul#rooster_score h1,
ul.rooster div.votes {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

ul#rooster h1 {
	-webkit-transform: rotate(-5deg);
	color: white;
	background: #e30613;
}

/* Einzelner Name */

ul#rooster_winner,
ul#rooster_name h1 {
	-webkit-transform: rotate(-5deg);
	background: #e30613;
}

/* Score */

ul#rooster_score h1 {
	-webkit-transform: rotate(-5deg);
	background: #e30613;
}